<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <jmxConfigurator />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%X{X-B3-TraceId:-}, %X{X-B3-SpanId:-} ] %-5level [%t{10}] %logger{15}:%line - %msg%n" />


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--<logger name="com.valchkou" level="INFO" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>